In [16]:
## import packages
import numpy as np
import pandas as pd
# import geopandas

In [20]:
import geopandas

ImportError: cannot import name 'InvalidGeometryError' from 'shapely.errors' (/Users/yaodongqiu/opt/anaconda3/lib/python3.8/site-packages/shapely/errors.py)

In [18]:
## load the csv data into data frame
csv_PATH = "/Users/yaodongqiu/Desktop/Data4Policy/Geospatial Data Science Internship/Datasets/telangana_fires.csv"
json_PATH = "/Users/yaodongqiu/Desktop/Data4Policy/Geospatial Data Science Internship/Datasets/telangana_shapefile.geojson"
telangana_fires_orginal_df = pd.read_csv (csv_PATH)
# telangana_shapefile_orginal_df = pd.read_json(json_PATH)
telangana_fires_orginal_df

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,18.3777,80.5314,318.6,1.0,1.0,2015-01-02,802,Aqua,MODIS,69,6.03,302.6,7.7,D,0
1,17.5898,80.9893,315.4,1.2,1.1,2015-01-04,750,Aqua,MODIS,59,6.03,299.5,8.8,D,0
2,17.6028,81.1612,311.8,1.2,1.1,2015-01-05,527,Terra,MODIS,46,6.03,299.8,6.0,D,0
3,17.5241,80.3135,317.0,1.1,1.0,2015-01-05,527,Terra,MODIS,69,6.03,302.0,9.3,D,0
4,17.7571,80.3404,317.2,2.5,1.5,2015-01-05,833,Aqua,MODIS,53,6.03,300.0,29.3,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18780,18.3923,77.8257,315.4,1.0,1.0,2021-08-24,529,Terra,MODIS,61,6.03,298.3,7.2,D,0
18781,18.4943,77.7611,317.2,1.0,1.0,2021-08-24,529,Terra,MODIS,37,6.03,298.6,8.2,D,0
18782,18.4805,79.3012,314.0,1.9,1.3,2021-08-25,744,Aqua,MODIS,33,6.03,292.8,15.3,D,0
18783,17.9506,80.7815,316.8,2.1,1.4,2021-08-26,826,Aqua,MODIS,48,6.03,289.9,18.6,D,2
18784,18.0553,80.7812,318.4,2.1,1.4,2021-08-26,826,Aqua,MODIS,0,6.03,290.1,21.2,D,0